{% extends 'layout.html'%}

{% block body %}
<hr>
<div class="input-group mb-3">
    <input type="text" class="form-control" id="myInput" onkeyup="myFunction2()" placeholder="Search for names..">
</div>

    <ul id="myUL" class="list-group">
    {% for article in articles %}
        <li style="list-style-type: none;">
        <!--<li class="list-group-item">-->
            <!--<a href="article/{{article.id}}"> {{article.title}}</a></li>-->
        <!--</ul>-->
        <div class="media position-relative">
          <!--<img src="{{article.imagelink}}" width="180" height="140" class="mr-3" alt="...">-->
            <img src="static/img/full/{{article.images}}" width="180" height="140" class="mr-3" alt="{{article.images}}">
          <div class="media-body">
              <small>{{article.time}}</small>
            <a href="article/{{article.id}}"><h5 class="mt-0">{{article.title}}</h5></a>
            <p>{{ article.content | truncate(140) | safe}}</p>
              <a href="{{article.url}}">Kunjungi Situs</a>
          </div>
        </div>
        <br>
        </li>
    {%endfor%}
    </ul>
{% endblock %}
