{% extends 'layout.html'%}

{% block body %}
<!--<h3>{{article.title}}</h3>-->
  <!--<small>{{article.time}}</small>-->
  <!--<hr>-->
  <!--<div>-->
      <!--<img src="{{article.imagelink}}" class="img-fluid" alt="Responsive image">-->
      <!--<hr>-->
    <!--<p>{{article.content | safe}}</p>-->
  <!--</div>-->
<main role="main" class="container">
  <div class="row">

    <div class="col-md-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">{{article.title}}</h2>
                <p class="blog-post-meta">{{article.time}} by <a href="#">Mark</a></p>
            <hr>
            <img src="{{article.imagelink}}" class="img-fluid" alt="Responsive image">
            <hr>
            <p>{{article.content | safe}}</p>
        </div>
    </div>

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3">
        <h4>Judul</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
    </aside>

  </div>
</main>

<hr>

{% endblock %}
{% block rbody %}{% endblock %}