{% extends 'layout.html'%}

{% block body %}
<hr>
    <ul class="list-group">
    {% for article in articles %}
        <!--<li class="list-group-item">-->
            <!--<a href="article/{{article.id}}"> {{article.title}}</a></li>-->
        <!--</ul>-->
        <div class="media position-relative">
          <img src="{{article.imagelink}}" width="180" height="140" class="mr-3" alt="...">
          <div class="media-body">
              <small>{{article.time}}</small>
            <h5 class="mt-0">{{article.title}}</h5>
            <p>{{ article.content | truncate(140) | safe}}</p>
            <a href="article/{{article.id}}" class="stretched-link"></a>
          </div>
        </div>
        <br>
    {%endfor%}
    </ul>
{% endblock %}
